* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h2 {
  color: purple;
  text-align: center;
  margin-bottom: 1rem;
}

/* Navbar */
nav {
  background-color: white;
  position: sticky;
  top: 0;
}
.navbar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1200px;
}
nav .nav-logo {
  display: flex;
  align-items: center;
}
nav .nav-logo img {
  width: 60px;
  border-radius: 50%;
}
nav .nav-logo p {
  color: saddlebrown;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 0.5rem;
}
nav .nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s ease;
}
.dropdown-content a {
  color: purple;
  padding: 1rem;
  text-decoration: none;
  display: block;
  font-weight: 500;
}
.dropdown-content a:hover {
  background-color: purple;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
nav .nav-links li a {
  position: relative;
  color: purple;
  font-weight: 500;
  font-size: 1.1rem;
}
nav .nav-links li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: darkorange;
  transition: all 0.3s ease;
}
nav .nav-links li a:hover::after {
  width: 100%;
}

/* Header */
header {
  background: linear-gradient(to right, purple, darkorange);
}
.header-area {
  display: flex;
  flex: 1;
  padding: 14rem 2rem;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}
header .head-content {
  display: flex;
  flex: 1;
  align-items: center;
}
header .head-content .landing-content {
  flex: 1 1;
}
header .head-content .landing-content h4 {
  margin-bottom: 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
header .head-content .landing-content h1 {
  margin-bottom: 1rem;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}
header .head-content .landing-content p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: white;
}
header .head-content .landing-content button {
  background-color: white;
  border-radius: 999px;
  padding: 0.7rem 2rem;
  color: purple;
  font-size: 1rem;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  cursor: pointer;
  transition: all 0.15s ease-in;
}
header .head-content .landing-content button:hover {
  background-color: darkorange;
  color: white;
}
header .head-content .landing-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
header .landing-image img {
  max-width: 400px;
  margin: auto;
  border-radius: 50%;
}

/* Main */
#content {
  display: flex;
  flex: 5;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}
main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 4rem 2rem 4rem;
  background-color: white;
}
.sub-header {
  max-width: 768px;
  margin: auto;
  text-align: center;
  color: purple;
}

/* Featured Menu */
.content-image {
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 250px;
  border-radius: 5px;
  border: 2px solid white;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: center;
}
.featured-menu {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}
.featured-menu .featured-card {
  padding: 3rem 2rem;
  background: linear-gradient(to bottom, purple, darkorange);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.featured-menu .featured-card .featured-content {
  flex: 1;
  margin-bottom: 7rem;
}
.featured-menu .featured-card h3 {
  margin-bottom: 2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
.featured-menu .featured-card h4 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
}
.featured-menu .featured-card p {
  color: white;
}
.featured-menu .featured-card button {
  background-color: white;
  color: purple;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.featured-menu .featured-card button:hover {
  background-color: purple;
  color: white;
}

/* Contact */
.featured-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
  padding: 4rem;
  background: linear-gradient(to bottom, purple, darkorange);
  border-radius: 5px;
}
.featured-card-contact {
  color: white;
  padding: 0 4rem;
}
.featured-card-contact h3 {
  text-align: center;
  padding: 2rem 0;
}
.featured-card-contact p {
  padding-bottom: 1rem;
}
.featured-card-contact ul {
  list-style: none;
}
.featured-card-contact li a {
  color: white;
  font-weight: 600;
}
.featured-card-contact i {
  margin: 0px 10px 10px 0px;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 50%;
  background-color: white;
  color: purple;
}
.featured-card-contact li a:hover {
  color: purple;
}
.featured-card-contact .contact-submit {
  background-color: white;
  color: purple;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}
.contact-submit:hover {
  background-color: purple;
  color: white;
}
.form-group {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form input {
  padding: 10px;
  margin-bottom: 1rem;
  max-width: 300px;
  width: 100%;
  color: purple;
  font-weight: 600;
}
.form textarea {
  padding: 10px;
  margin-bottom: 1rem;
  max-width: 300px;
  width: 100%;
  height: 150px;
  color: purple;
  font-weight: 600;
  font-size: 0.85rem;
}
.btn-message {
  text-align: center;
}
.btn-message button {
  padding: 10px;
  color: purple;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
}
.btn-message button:hover {
  color: white;
  background-color: purple;
}

/* Aside */
aside {
  flex: 1;
}
.profile {
  text-align: center;
  color: purple;
  margin-bottom: 1.5rem;
}
.profile img {
  width: 150px;
  border: 5px solid purple;
  border-radius: 50%;
  margin: 1rem 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table,
th,
td {
  border: 1px solid;
}
.biodata {
  margin: 1rem auto;
}
.biodata th,
td {
  padding: 0.5rem;
  text-align: left;
}

/* Footer */
footer {
  text-align: center;
  color: white;
  background: linear-gradient(to right, purple, darkorange);
  padding: 1.5rem;
  font-weight: 600;
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .navbar-area {
    padding: 1rem 4rem;
  }
  header {
    padding: 0 4rem;
  }
  header .head-content .landing-image {
    margin: 2rem;
  }
  .landing-image img {
    width: 400px;
  }
  main {
    flex-flow: column nowrap;
  }
  .featured-menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .featured-contact {
    grid-template-columns: repeat(1, 1fr);
  }
  aside {
    align-self: center;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  header .head-content {
    flex-direction: column;
    gap: 2rem;
  }
  header .head-content .landing-image {
    margin: 2rem;
    order: -1;
  }
  .landing-image img {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .nav-logo img {
    display: none;
  }
  .nav-logo p {
    display: none;
  }
  .navbar-area .nav-links {
    margin: auto;
  }
  .header-area {
    padding: 5rem 0 5rem;
  }
  header {
    padding: 1rem 5rem;
  }
  header .head-content {
    flex-direction: column;
    gap: 2rem;
  }
  header .head-content .landing-content p {
    font-size: 1rem;
  }
  header .head-content .landing-image {
    order: -1;
    margin-bottom: 1rem;
  }
  .landing-image img {
    width: 250px;
  }
  .featured-menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
